<!DOCTYPE html>
<html>
<head>
    <title>注册</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Login</h1>
<form action="/goods/publish" method="post" enctype="multipart/form-data">
    <div>
        <label>选择图片:</label>
        <input type="file" id="goods_pic" name="goods_pic"/>
    </div>

    <div>
        <label>标题:</label>
        <input type="text" name="title"/>
    </div>
    <div>
        <label>转让价:</label>
        <input type="text" name="price"/>
    </div>

    <div>
        <label>描述:</label>
        <input type="textarea" name="description"/>
    </div>
    <div>
        <label>使用情况:</label>
        <input type="text" name="usage"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>
</body>
</html>